#contact {
	background:#F9F9F9;
	padding:25px;
	margin-bottom: 20px;
}
fieldset {
	border: medium none !important;
	min-width: 100%;
	padding: 0;
	width: 100%;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}
#contact button[type="submit"] {
	cursor:pointer;
	width:100%;	
	border: 0.1em solid $hover;
	border-radius: 0.22em;
	color: $hover;
	transition: all 0.2s;
	padding:10px;
	font-size: 1em;
	background-color: $tekst;
}
#contact button[type="submit"]:hover {
	color: $hover;
	background-color:$primary;
	border: 0.1em solid $hover;
}
#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.error {
	color: #f46242;
	margin: 0 0 15px 2px;
	font-size: 15px;
}
.success {
	margin-top: 10px;
	background-color: #d3ffd7;
	color: #15b223;
	font-size: 1.15em;
	text-align: center;
	border-radius: 0.22em;
}