
/*Search widget*/
.chw-widget {
	margin-top: 12px;
	float: right;
}
.screen-reader-text {
	display: none;
}
#searchform {
	float: right;
}
/* Page.php style */
.page-wrapper {
	background: url(images/background_clouds.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	min-height: 100%;
}
.page-container {
	width: 50%;
	margin: auto;
	min-height: 50%;	
	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: white;
}
.page-container2 {
	width: 50%;
	margin: auto;
	min-height: 70%;	
	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: $hover;
}
.page-title{
	background-color: $primary;
	color: white;
	padding: 15px 0;
}
.page-title h2{
	margin: 0;
	font-size: 2.8rem;
	font-family: 'Montserrat', 'Nunito';
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}
.page-container h2 {
	font-size: 1.8rem;
	font-weight: 300;
	margin-top: 50px;
}
.page-container p {
	font-size: 1.125;
	line-height: 1.5;
}
/* front-page.php style*/
.index-container {
	margin: 0 !important;
	padding: 0 !important;
	background: url(images/background_main.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 92%;
	text-align: center;
	color: $hover;
}
.index-container h1{
	letter-spacing: 3px;
    font-size: 2em;
}
.index-container p{
    font-size: 1.15em;
	}
.front-text-container {
	height: 100%;
	padding-top: 200px;
	margin: auto;
	width: 70%;
}
.front-text-container a {
	color: $secondary;
}
.front-text-container a:hover {
	color: $hover;
}
.text-background {
	padding: 20px 0;
	background: rgb(0, 0, 0, 0.4);
}
/* Footer style */
.page-footer {
	background-color: $secondary;
	padding-left: 20%;
}
/* Different elements from pages*/
.addtoany_content {
    margin: 0 !important;
}
.kuukiri-btns-container {
	text-transform: uppercase;
	text-align: center;
}
a.kuukiri-btns {
	width: 47%;
	display: inline-block;
	font-size: 1.25em;
	padding:0.55em 1.2em;
	border: 0.1em solid $tekst;
	margin:0 0.45em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	color: $tekst;
	text-align: center;
	transition: all 0.2s;
}
a.kuukiri-btns:hover {
	color: $hover;
	background-color:$tekst;
}
#loe-edasi {
	margin: 15px 10px;
	height: 40px;
}
#loe-edasi a {
	display: inline-block;
	float: right;
	padding:0.35em 1em;
	border: 0.1em solid $tekst;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	color: $tekst;
	text-align: center;
	transition: all 0.2s;
}
#loe-edasi a:hover {
	color: $hover;
	background-color:$tekst;
}
.fea_img {
	width: 100%;
}
.fea_img img {
    padding-bottom: 15px;
}
/* single.php */
.page-title-single {
	background-color: $primary;
	color: $hover;
	padding-top: 15px 0;
}
.page-title-single h2{
	margin: 0;
	font-size: 1.8rem;
	font-family: 'Montserrat';
	font-weight: 300 !important;
	text-align: center;
	text-transform: uppercase;
}
/* home.php and single.php */
.post-content { 
	padding: 15px 0 40px 0;
	border-bottom: 1px solid grey;
}
.post-content a { 
	color: $primary;
}
.posts-title a { /*home.php heading*/
	color: $primary;
}
.posts-title a:hover { /*home.php heading*/
	color: $tekst;
	text-decoration: none;
}
/* Published date style */
.publish-date {
	margin: 0 0 15px 5px;
	border-radius: 5px;
	color: $tekst;
	opacity: 0.7;
}
/* Changing Calendar style */
.monthly-today1 .monthly-day-number1 {
    color: white !important;
    background: none !important;
}
.listed-event-desc p {
	color: white !important;
}
