@media screen and (max-width: 1240px) {
    .main-nav {
        visibility: hidden;
        display: none;
    }
    .page-container {
	    width: 80%;
	}
    .page-footer {
	    padding-left: 15%;
	}
	.sidebar {
		display: none;
	}
	.page-container2 {
		width: 80%;
	}
}
@media screen and (min-device-width: 10px) and (max-width: 700px) { 
	.page-wrapper {
		background: white;
}
	a.kuukiri-btns{
		width: 100%;
	}
	.page-footer {
	    padding-left: 0;
	}
	a.kuukiri-btns {
		padding:0.15em 1.2em;
		margin:0 0.9em 0.7em 0;
	}
	.index-container {
		min-height: 85%;
	}
	.index-container h1{
    	font-size: 1.7em;
	}
	.index-container p{
    	font-size: 1em;
	}
	.front-text-container {
		padding-top: 80px;
		margin: auto;
		width: 90%;
	}
	.h2, h2 {
    font-size: 1.5rem;
}
	.page-title{
		padding: 10px 0;
	}
	.page-title h2 {
		font-size: 1.6rem;
	}
	.post-title h2 a {
		font-size: 1rem;
	}
	.page-container {
		width: 100%;
		margin: auto;
		min-height: 50%;
		padding: 10px;
	}
	.page-container2 {
		width: 100%;
		margin: auto;
		min-height: 50%;	
		padding: 10px;
	}
	.page-container h2 {
		font-size: 1.5rem;
	}
	.kuukiri-btns-container {
		padding: 20px 20px 0 20px;
	}
	.elementor-spacer-inner {
		display: none;
	}
	.elementor-testimonial-content span{
		font-size: 1rem;
	}
}